<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star Trek Aliens Good or Evil</title>
</head>
<body>

  <h1>Star Trek Aliens Good or Evil</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
    <% } %>
    <ul>
      <% aliens.forEach(function(alien) { %>
        <li>
          <%= alien.text %>
            - 
          <%= alien.evil ? 'evil' : 'not evil' %>
        </li>
      <% }) %>
    </ul>
</body>
</html>
